<script>
	export let href = ""
	export let external = true
	// export let inlineItems = []

	// import InlineItems from "_src/rich-text/InlineItems.svelte"

	// Cf https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Security_and_privacy
	$: rel = external ? "external noreferrer noopener" : null
	$: target = external ? "_blank" : null

	function handleClick() {
		// Because the RichText component has contenteditable="true", links are not clickable.
		// This ensures the link will be opened if clicked, respecting the `external` property.
		window.open(href, "_blank")
	}
</script>

<a {href} {rel} {target} on:click={handleClick}>
	TODO
	<!-- <InlineItems {inlineItems} /> -->
</a>
