<script>
	export let state
	export let selection = null

	export function applyEffect(type, payload) {
		ref.applyEffect(type, payload)
	}

	import { RichTextBlock } from "../../../blocks"

	let ref

	// function getRangeAtStart(element) {
	// 	const range = new Range()
	// 	const textNodes = textNodesUnder(element)
	// 	if (textNodes.length === 0) {
	// 		return null
	// 	}
	// 	range.setEnd(textNodes[0], 0)
	// 	range.collapse()
	// 	return range
	// }

	// function getRangeAtEnd(element) {
	// 	const range = new Range()
	// 	const textNodes = textNodesUnder(element)
	// 	if (textNodes.length === 0) {
	// 		return null
	// 	}
	// 	const lastTextNode = textNodes[textNodes.length - 1]
	// 	range.setEnd(lastTextNode, lastTextNode.length)
	// 	range.collapse()
	// 	return range
	// }

	// import { matchHotkey } from "_src/hotkeys.js"
	// import InlineItems from "_src/rich-text/InlineItems.svelte"

	// function handleKeydown(event) {
	// 	const selection = document.getSelection()
	// 	const range = selection.getRangeAt(0)
	// 	let isCaretAtStart = true
	// 	let isCaretAtEnd = true
	// 	if (ref.hasChildNodes()) {
	// 		const rangeAtStart = getRangeAtStart(ref)
	// 		isCaretAtStart =
	// 			rangeAtStart &&
	// 			selection.isCollapsed &&
	// 			range.compareBoundaryPoints(Range.START_TO_START, rangeAtStart) === 0
	// 		const rangeAtEnd = getRangeAtEnd(ref)
	// 		isCaretAtEnd =
	// 			rangeAtEnd &&
	// 			selection.isCollapsed &&
	// 			range.compareBoundaryPoints(Range.START_TO_START, rangeAtEnd) === 0
	// 	}
	// 	const hotkeys = [
	// 		{
	// 			hotkey: { key: "ArrowUp", shift: false },
	// 			guard: () => !isFirstBlock,
	// 			action: {
	// 				type: "focusPrevious",
	// 				payload: { range }
	// 			}
	// 		},
	// 		{
	// 			hotkey: { key: "ArrowDown", shift: false },
	// 			guard: () => !isLastBlock,
	// 			action: {
	// 				type: "focusNext",
	// 				payload: { range }
	// 			}
	// 		},
	// 		{
	// 			hotkey: { key: "ArrowLeft" },
	// 			guard: () => isCaretAtStart,
	// 			action: {
	// 				type: "focusPrevious",
	// 				payload: { offset: "end" }
	// 			}
	// 		},
	// 		{
	// 			hotkey: { key: "ArrowRight" },
	// 			guard: () => isCaretAtEnd,
	// 			action: {
	// 				type: "focusNext",
	// 				payload: { offset: "start" }
	// 			}
	// 		},
	// 		{ hotkey: { key: "Tab", shift: false }, action: { type: "indent" } },
	// 		{ hotkey: { key: "Tab", shift: true }, action: { type: "dedent" } },
	// 		{
	// 			hotkey: { key: "Delete", shift: true },
	// 			action: { type: "delete" }
	// 		},
	// 		{
	// 			hotkey: { key: "Enter" },
	// 			action: { type: "split", payload: { range, ref } }
	// 		},
	// 		{
	// 			hotkey: { key: "Backspace" },
	// 			guard: () => isCaretAtStart,
	// 			// TODO Can be mergeWithPrevious or deletePrevious, based on which is the previous block.
	// 			// - maybe introduce a notion of "text block" as opposed to images, tables, etc
	// 			// - unify the name of the action to something common, why not "backspace"
	// 			action: { type: "mergeWithPrevious" }
	// 		},
	// 		{
	// 			hotkey: { key: "Delete" },
	// 			guard: () => isCaretAtEnd,
	// 			action: { type: "mergeWithNext" }
	// 		},
	// 		{
	// 			hotkey: { key: "ArrowUp", ctrl: true, shift: true },
	// 			action: { type: "swapWithPrevious" }
	// 		},
	// 		{
	// 			hotkey: { key: "ArrowDown", ctrl: true, shift: true },
	// 			action: { type: "swapWithNext" }
	// 		}
	// 	]
	// 	const action = matchHotkey(hotkeys, event)
	// 	if (action) {
	// 		const textNodes = textNodesUnder(ref)
	// 		const startContainerIndex = textNodes.indexOf(range.startContainer)
	// 		debugger
	// 		event.preventDefault()
	// 		dispatch("action", action)
	// 	}
	// }
</script>

<!-- TODO use action for hotkeys like use:hotkeys={hotkeys} and on:hotkey={handleHotkey} -->
<p>
	<RichTextBlock
		{state}
		bind:this={ref}
		bind:selection
		on:command
		on:selectionchange />
</p>
