<script>
	export let styles = []
	export let text

	import clsx from "clsx"
	import { getContext } from "svelte"
	import { configKey } from "../contexts"
	const config = getContext(configKey).getConfig()

	$: inlineStylePlugins = styles.map(style =>
		config.inlineStylePlugins.getByType(style)
	)
	$: classes = clsx(inlineStylePlugins.flatMap(plugin => plugin.classes))
</script>

{#if classes}
	<span class={classes}>{text}</span>
{:else}{text}{/if}
