<script>
	export let state = undefined
	export let config = undefined
	export let selection = null
	export let ref = undefined

	export function focus(target) {
		if (target instanceof RichTextRange) {
			if (state.text.length > 0) {
				const range = rangeFromSelection(target)
				selectDomRange(range)
			}
		} else if (target instanceof Range) {
			if (
				ref.contains(target.startContainer) &&
				ref.contains(target.endContainer)
			) {
				// Selection will be updated by selectionchange event
				// selection = selectionFromRange(target)
				selectDomRange(target)
			}
		} else {
			ref.focus()
		}
	}

	import _ from "lodash"
	import { getContext, setContext, tick, createEventDispatcher } from "svelte"
	import { configKey } from "../contexts"
	import InlineItems from "./InlineItems.svelte"
	import selectionchange from "./selectionchange-action"
	import { findTextNodesUnder } from "./dom-utils"
	import {
		RichTextState,
		RichTextRange,
		computeInlineItems
	} from "./rich-text-state.js"

	const dispatch = createEventDispatcher()

	if (config === undefined) {
		config = getContext(configKey).getConfig()
	} else {
		setContext(configKey, {
			getConfig: () => config || {}
		})
	}

	if (state === undefined) {
		state = new RichTextState()
	}

	$: textNodes = ref ? findTextNodesUnder(ref) : null

	$: inlineItems = computeInlineItems(state)

	function handleKeydown(event) {
		if (event.key === "Enter") {
			event.preventDefault()
		}
		dispatch("keydown", event)
	}

	async function handleBeforeInput(event) {
		// Note: use beforeinput event instead of input to avoid actually removing DOM nodes by typing on the keyboard.
		console.log("RichText handleBeforeInput", event)
		event.preventDefault()
		switch (event.inputType) {
			case "deleteContentBackward":
				state.deleteTextBackward(selection)
				state = state
				break
			case "deleteContentForward":
				state.deleteTextForward(selection)
				state = state
				break
			case "insertText":
				state.insertText(selection, event.data)
				state = state
				break
		}
		await tick()
		textNodes = findTextNodesUnder(ref)
		focus(selection)
	}

	function handleBlur() {
		selection = null
		dispatch("blur")
	}

	function selectDomRange(range) {
		const domSelection = ref.ownerDocument.getSelection()
		domSelection.removeAllRanges()
		domSelection.addRange(range)
	}

	async function handleSelectionChange(event) {
		const domSelection = event.detail
		const newSelection = selectionFromRange(domSelection.getRangeAt(0))
		if (!_.isEqual(selection, newSelection)) {
			selection = newSelection
			dispatch("selectionchange", selection)
		}
	}

	function findIndexAndOffset(inlineItems, selectionOffset) {
		// TODO Move to InlineItems class?
		let offset = 0
		for (const [index, inlineItem] of inlineItems.entries()) {
			if (offset + inlineItem.text.length >= selectionOffset) {
				return [index, selectionOffset - offset]
			}
			offset += inlineItem.text.length
		}
		throw new Error("not found")
	}

	function rangeFromSelection(selection) {
		// Return DOM Range from RichTextSelection.
		const range = ref.ownerDocument.createRange()
		const [startIndex, startOffset] = findIndexAndOffset(
			inlineItems,
			selection.offset
		)
		const [endIndex, endOffset] = findIndexAndOffset(
			inlineItems,
			selection.endOffset
		)
		range.setStart(textNodes[startIndex], startOffset)
		range.setEnd(textNodes[endIndex], endOffset)
		return range
	}

	function getOffset(rangeContainer, rangeOffset) {
		// Return offset relative to start of text of a Range node and offset.
		let offset = 0
		for (const textNode of textNodes) {
			if (textNode.isSameNode(rangeContainer)) {
				offset += rangeOffset
				break
			}
			offset += textNode.textContent.length
		}
		return offset
	}

	function selectionFromRange(range) {
		// TODO avoid iterating textNodes twice
		const startOffset = getOffset(range.startContainer, range.startOffset)
		const endOffset = getOffset(range.endContainer, range.endOffset)
		return new RichTextRange(startOffset, endOffset - startOffset)
	}
</script>

<rich-text
	class="block cursor-text whitespace-pre-wrap break-words"
	contenteditable="true"
	bind:this={ref}
	use:selectionchange
	on:beforeinput={handleBeforeInput}
	on:blur={handleBlur}
	on:keydown={handleKeydown}
	on:selectionchange={handleSelectionChange}>
	<InlineItems {inlineItems} />
</rich-text>
