<script>
	export let state
	export let selection = null

	export function applyEffect(type, payload) {
		ref.applyEffect(type, payload)
	}

	import { RichTextBlock } from "../../../blocks"

	let ref
</script>

<style>
	.bullet {
		height: 6px;
		width: 6px;
	}
</style>

<div role="listitem" class="flex items-center">
	<div class="flex justify-around w-8">
		<div class="bullet bg-current rounded-full" />
	</div>
	<div class="flex-grow">
		<RichTextBlock
			{state}
			bind:this={ref}
			bind:selection
			on:command
			on:selectionchange />
	</div>
</div>
