<script>
	export let state
	export let selection = null
	export let ref = null

	import { getContext } from "svelte"
	import { configKey } from "../contexts"
	import selectionoverflow from "./selectionoverflow-action"

	const config = getContext(configKey).getConfig()

	$: plugin = config.blockPlugins.getByType(state.type)
</script>

<div
	style={`margin-left: ${state.depth}rem`}
	use:selectionoverflow
	on:selectionoverflow>
	<svelte:component
		this={plugin.component}
		{state}
		bind:this={ref}
		bind:selection
		on:command
		on:selectionchange />
</div>
