<script>
	export let state

	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher()

	function executeCommand(type) {
		dispatch("command", { type })
	}
</script>

<button
	on:click={() => executeCommand('create')}
	disabled={!state.canExecuteCommand('create')}>
	+
</button>
<button
	on:click={() => executeCommand('delete')}
	disabled={!state.canExecuteCommand('delete')}>
	del
</button>
<button
	on:click={() => executeCommand('swapWithPrevious')}
	disabled={!state.canExecuteCommand('swapWithPrevious')}>
	↑
</button>
<button
	on:click={() => executeCommand('swapWithNext')}
	disabled={!state.canExecuteCommand('swapWithNext')}>
	↓
</button>
<button
	on:click={() => executeCommand('dedent')}
	disabled={!state.canExecuteCommand('dedent')}>
	←
</button>
<button
	on:click={() => executeCommand('indent')}
	disabled={!state.canExecuteCommand('indent')}>
	→
</button>
