<script>
	export let config = undefined
	export let refs = {}
	export let selection = null
	export let state = undefined

	import _ from "lodash"
	import { getContext, setContext, tick } from "svelte"
	import { configKey } from "../contexts"
	import Block from "./Block.svelte"
	import BlockToolbar from "./BlockToolbar.svelte"
	import { BlocksState } from "./state/blocks"

	if (state === undefined) {
		state = new BlocksState()
	}

	if (config === undefined) {
		config = getContext(configKey).getConfig()
	} else {
		setContext(configKey, {
			getConfig: () => config || {}
		})
	}

	let selections = []
	$: {
		const blockIndex = selections.findIndex(x => x !== null)
		if (blockIndex === -1) {
			selection = null
		} else {
			const newSelection = { ...selections[blockIndex], blockIndex }
			if (!_.isEqual(newSelection, selection)) {
				selection = newSelection
			}
		}
	}

	async function handleCommand(blockIndex, event) {
		console.log("Blocks handleCommand", { blockIndex, event, state })
		// const effects = state.executeCommand(blockIndex, event.detail)
		const command = { blockIndex, ...event.detail }
		const effects = state.blocks[blockIndex].executeCommand(command)
		state = state
		for (const effect of effects || []) {
			await tick()
			console.log("Blocks handleCommand: applying effect", effect)
			const block = state.blocks[effect.blockIndex]
			const ref = refs[block.key]
			ref.applyEffect(effect.type, effect.payload)
		}
	}

	let divRefs = []

	$: console.log(selection)

	function handleSelectionOverflow(blockIndex, event) {
		const { direction } = event.detail
		const { clientY } = event.detail.mouseEvent

		let currentIndex = blockIndex - 1

		switch (direction) {
			case "up":
				while (currentIndex > 0) {
					const divRef = divRefs[currentIndex]
					const rect = divRef.getBoundingClientRect()
					if (clientY >= rect.bottom) {
						break
					}
					currentIndex--
				}
				selection.startIndex = currentIndex
				selection.endIndex = blockIndex
				break

			case "down":
				break
		}

		selection = selection
	}
</script>

{#each state.blocks as block, blockIndex (block.key)}
	<div class="flex">
		<div class="mr-4">
			<BlockToolbar
				state={block}
				on:command={event => {
					handleCommand(blockIndex, event)
				}} />
		</div>
		<div class="flex-grow" bind:this={divRefs[blockIndex]}>
			<Block
				state={block}
				bind:selection={selections[blockIndex]}
				bind:ref={refs[block.key]}
				on:command={event => {
					handleCommand(blockIndex, event)
				}}
				on:selectionoverflow={event => handleSelectionOverflow(blockIndex, event)} />
		</div>
	</div>
{/each}
