<script>
	import { Blocks, BlocksState } from "./blocks"
	import { RichText } from "./rich-text"
	import { example1 } from "./fixtures"
	import { defaultConfig } from "./config"

	const state = BlocksState.fromJSON(example1, defaultConfig)
	let block1 = state.blocks[1]
	let richTextState1 = block1.richText

	$: console.log("App", { example1, state, richTextState1 })

	// 	} else if (key === "z" && ctrlKey && !shiftKey) {
	// 	event.preventDefault()
	// 	dispatch("undo")
	// } else if (key === "z" && ctrlKey && shiftKey) {
	// 	event.preventDefault()
	// 	dispatch("redo")
	// let textNodeRef

	let richTextSelection
	let blocksSelection

	let refs
</script>

<!--
<RichText
	config={defaultConfig}
	bind:state={richTextState1}
	bind:selection={richTextSelection}
	on:keydown={event => {
		if (event.detail.key === 'Enter') {
			console.log('App RichText on:keydown', 'Enter is forbidden!')
		}
	}} />
<pre class="text-xs">
	{JSON.stringify({ state: richTextState1.toJSON(), selection: richTextSelection }, null, 2)}
</pre> -->

<hr />

<Blocks
	config={defaultConfig}
	bind:refs
	bind:selection={blocksSelection}
	{state} />
<pre class="text-xs">{JSON.stringify({ blocksSelection }, null, 2)}</pre>
<pre class="text-xs">{JSON.stringify({ state: state.toJSON() }, null, 2)}</pre>
