<script>
	import Blocks from "./Blocks.svelte"
	// import Paragraph from "./blocks/paragraph/Paragraph.svelte"

	export let title = "Untitled"
	export let blocks = []

	// let titleComponent

	// function handlePageTitleKeydown(event) {
	// 	console.log("Page handlePageTitleKeydown", event)

	// 	// if (event.key === "ArrowDown") {
	// 	// 	event.preventDefault()
	// 	// 	caret.setInBlock({
	// 	// 		blockIndex: 0,
	// 	// 		block: $page.blocks[0],
	// 	// 		caretPosition: 0
	// 	// 	})
	// 	// 	blocks[0]._component.focus()
	// 	// } else if (event.key === "ArrowRight") {
	// 	// 	if (isatrightmostcharacter) {
	// 	// 		event.preventDefault()
	// 	// 		caret.setInBlock({
	// 	// 			blockIndex: 0,
	// 	// 			block: $page.blocks[0],
	// 	// 			caretPosition: 0
	// 	// 		})
	// 	// 	}
	// 	// }
	// }

	// function handlePageTitleKeyup(event) {
	// 	console.log("Page handlePageTitleKeyup", event)
	// 	// const { caretPosition } = event.detail
	// 	// caret.setInPageTitle({ caretPosition })
	// }

	// function handlePageTitleSelect(event) {
	// 	console.log("Page handlePageTitleSelect", event)
	// 	// const { caretPosition } = event.detail
	// 	// caret.setInPageTitle({ caretPosition })
	// }
</script>

<div class="container mx-auto px-4 cursor-text">
	<h1>
		{title}
		<!-- <Paragraph
			bind:this={titleComponent}
			bind:content={title}
			on:keydown={handlePageTitleKeydown}
			on:keyup={handlePageTitleKeyup}
			on:select={handlePageTitleSelect} /> -->
	</h1>
	<Blocks {blocks} />
</div>
